{% if not testing %}{% extends "base_t.html" %}{% endif %}

{% macro render_field(field, labelclass='') %}
{% if labelclass %}
<dt> {{ field.label }}
<script>
    $('label[for="{{ field.id }}"]').append("<span class={{ labelclass }}>*</span>");
</script>
{% else %}
<dt> {{ field.label }}
{% endif %}

<dd>{{ field(**kwargs)|safe }}
{% if field.errors %}
<ul class=errors>
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
</dd>
{% endmacro %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% macro render_msg() %}
    {% if info %}
    <p class=info><strong>Info:</strong> {{ info }}
    {% endif %}

    {% if success %}
    <p class=success><strong>Success:</strong> {{ success }}
    {% endif %}

    {% if warning %}
    <p class=warning><strong>Warning:</strong> {{ warning }}
    {% endif %}

    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}

    {% if validation %}
    <p class=validation><strong>Validation:</strong> {{ validation }}
    {% endif %}
{% endmacro %}

{% block header %}
<link type='text/css' rel="stylesheet" href="{{ url_for('contact_page.static', filename='css/contact_t.css') }}"}
{% endblock%}

{% block container %}
{# Call container template super #}
{# {{ super() }} #}
{% endblock container %}

{% block content %}
<div class="twelve columns offset-by-three content">
    {# Call content template super #}
    {# {{ super() }} #}

    <div id="sub_page_intro">
        <div class="copy">
            {% if info %}
            {{info|safe}}
            {% else %}
            <!-- <h2 class="intro">Contact Us</h2>-->
            <p>This form will allow you to contact us by e-mail.</p>
            {% endif %}
        </div>
    </div>
    <div class="contact_form">
        <form action="{{url_for(".contact", recipient=selected_recipient)}}" id="mail" method="post" autocomplete="off"> 
            <dl class=forms>
                {% autoescape false %}
                {% if selected_recipient is not none %}
                    {{ render_field(form.recipientName, labelclass="required", readonly=true) }}
                    {{ form.recipient }}
                {% else %}
                    {{ render_field(form.recipient, labelclass="required") }}
                {% endif %}
                {{ render_field(form.name, labelclass="required") }}
                {{ render_field(form.email, labelclass="required") }}
                {{ render_field(form.phone) }}
                {{ render_field(form.subject, labelclass="required") }}
                {{ render_field(form.message, labelclass="required", rows='20',cols='100') }}
                <dt>{{ form.antispam.label(class="antispam1") }}</dt>
                <dd>{{ form.antispam(class="antispam1") }}</dd>
                <!-- http://nesv.blogspot.com/2011/10/flask-gotcha-with-html-forms-checkboxes.html -->
                {% endautoescape %}
            </dl>
            <div class="buttonHolder">
                <button type="submit" id="submit"> Submit </button>
            </div>
            <p class="form-meta" style="text-align: center;">I understand that without a valid E-mail address or phone number I cannot be contacted.</p>
        </form>
    </div>
</div>
{% endblock content %}
